body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    background-color: #0573a7;
    margin: 0px;
    border: 2px solid red;
    
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-left: 15px; 
    gap: 15px;
    color: black;
}

.logo > img {
    width: 75px;
}

.about > ul {
    display: flex;
    gap: 30px;
    margin-right: 15px;
}

.about  {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
    gap: 15px;
}




