html{
    height: 100%;
}

  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 3500px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    background-color: #0573a7;
    margin: 0px;  
    height: 50px; 
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-left: 150px; 
    gap: 15px;
    color: black;
}

.logo > img {
    width: 60px;
}



.about > ul {
    display: flex;
    gap: 30px;
    margin-right: 150px;
    list-style-type: none
}

.about  {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
    gap: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    flex: 1;
    gap: 200px;
    background-color: #2A3949;
}

.information {
    display: flex;
    flex: 1;
    justify-content:flex-end;
    align-items: center;
    background-image: url(../images/joshua-earle-wFWQmOyfkkM-unsplash.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h2 {
    font-size: 70px;
    color: white;
    border-radius: 10px;
    padding: 25px;
    margin-right: 150px;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}

.examples {
    flex: 1;
    background-image: url(../images/desert.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.examples > h2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0;
    color: white;
    font-size: 60px;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}

.examples {
    display: flex;
    border: solid;
}
.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 70px;
}

.examples > .images > div {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    margin-bottom:100px; 
    display: flex;
    flex: 1;
}

.examples > img {
    display: flex;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-image: url(../images/neom-6NV2_KTTJDs-unsplash\ \(1\).jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 2px grey;
    color: white;
    font-size: 30px;
}

.shadow {
    padding: 30px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
}

.quote > strong {
    color: black;
}

.sign-up {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-image: url(../images/jason-hogan-YyFwUKzv5FM-unsplash.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sign-up > div {
    display: flex;
    background-color: white;
    padding: 7px 50px ;
    gap: 60px;
    border-radius: 10px;

}

#text {
    gap: 0px;
}

#text > h3 {
    margin-bottom: 0px;
}

#text > p {
    margin-top: 0px;
}



.sign-up > div > #button  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.sign-up > div > #button > button {
    padding: 5px 30px;
    font-size: 17px;
    background-color: rgb(250,146,90);
    color: black;
    border: 0px;
    border-radius: 5px;
}




.footer {
    background-color: #82A4B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}





